// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  display: block;
  font-size: 1.5em;
  margin: 20px 0;
}

h1 {
  margin: 20px 0;
}

h4 {
  font-: normal;
}

.form {
  margin-bottom: 10px;
}